@model InmobiliariaConstante.Models.Contrato

@{
    ViewData["Title"] = "Edit";
    var Garantes = (IList<Garante>)ViewBag.Garantes;
    var Inmuebles = (IList<Inmueble>)ViewBag.Inmuebles;
    var Inquilinos = (IList<Inquilino>)ViewBag.Inquilinos;
}

<h1>Editar</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="idActual" value="@(Model.IdInmueble)"/>
            <div class="form-group">
                <label class="control-label">Inquilino: </label>
                <select class="form-control" name="IdInquilino" asp-for="IdInquilino">
                    @foreach (Inquilino val in Inquilinos)
                    {
                        @:<option @(val.IdInquilino == Model.IdInquilino ? "selected" : "") value="@val.IdInquilino">@(val.Nombre +" "+ val.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="IdInquilino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDesde" class="control-label"></label>
                <input asp-for="FechaDesde" id="selectDesde" class="form-control" type="date" />
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHasta" class="control-label"></label>
                <input asp-for="FechaHasta" id="selectHasta" class="form-control" type="date" />
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inmueble: </label>
                <select class="form-control" id="selectInmueble" name="IdInmueble" asp-for="IdInmueble">
                    @foreach (Inmueble val in Inmuebles)
                    {
                        @:<option @(val.Id == Model.Id ? "selected" : "") value="@val.Id">@(val.Direccion +" $"+ val.Precio)</option>
                    }
                </select>
                <span asp-validation-for="IdInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuotas" class="control-label"></label>
                <input asp-for="Cuotas" class="form-control" />
                <span asp-validation-for="Cuotas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Garante: </label>
                <select class="form-control" name="IdGarante" asp-for="IdGarante">
                    @foreach (Garante val in Garantes)
                    {
                        @:<option @(val.Id == Model.IdGarante ? "selected" : "") value="@val.Id">@(val.Nombre +" "+ val.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="IdGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
<script type="text/javascript">
    debugger;
    var selectDesde = document.getElementById('selectDesde');
    var selectHasta = document.getElementById('selectHasta');
    var selectInmueble = document.getElementById('selectInmueble');
    var id = document.getElementById('idActual');
    function buscarInmuebles() {
        let myObjectJSON = {};
        var FechaDesde = selectDesde.value;
        var FechaHasta = selectHasta.value;
        var IdActual = id.value;
        url = `@Url.Action("Buscar", "Contrato", new { fechaDesde = "fechaDesde", fechaHasta = "fechaHasta", idActual = "idActual" })`;
        url = url.replace("fechaDesde", FechaDesde)
            .replace("fechaHasta", FechaHasta)
            .replace("idActual", IdActual);
        return $.ajax({
            url: url,
        }).done(res => {
            myObjectJSON = res;
            if (!myObjectJSON.datos) {
                return;
            }
            selectInmueble.innerHTML = "";
            for (let x of myObjectJSON.datos) {
                let option = document.createElement("option");
                option.value = x.id;
                option.text = x.direccion +" $"+x.precio;
                selectInmueble.add(option);
            }
        }).fail(res => {
            console.log("Error: ", res);
        });
    }


    selectHasta.addEventListener('change', () => {
        const $select = document.querySelector("#selectInmueble");
        var FechaDesde = selectDesde.value;
        var FechaHasta = selectHasta.value;
        if (FechaDesde < FechaHasta) {
            buscarInmuebles();
        } else {
            for (let i = $select.options.length; i >= 0; i--) {
                $select.remove(i);
            }
            const option = document.createElement('option');
            option.text = "-- Seleccione fechas correctas --";
            $select.appendChild(option);
            alert("La Fecha de inicio debe ser menor a la final")
            return false;
        }
    });

</script>

