@model IEnumerable<InmobiliariaConstante.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
    var malo = ViewBag.Malo;
}

<h1>Contratos</h1>

@{ if (ViewBag.Cuotas != null)
    {//Cancelar Contrato
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>¡EnHorabuena @ViewBag.Inquilino!</strong> @ViewBag.Cuotas
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
            </button>
        </div>
    }
}
<p>
    <a asp-action="Create">Crear nuevo Contrato</a>
</p>
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#asd" aria-expanded="false" aria-controls="collapseExample">
        Ver Inmuebles disponibles
    </button>
</p>
<div class="collapse" id="asd">
    <div class="card card-body">
        <div class="form-row">
            <label class="control-label">Fecha Inicio</label>
            <input id="fechaInicio" class="form-control" type="date" />
            <label class="control-label">Fecha de cierre</label>
            <input id="fechaFinal" class="form-control" type="date" />
            @{if (malo != null)
            {
                        <span class="text-danger" id="mensajeFecha">@malo</span>
            } 

            }
            
        </div>
        <a class="btn btn-primary" data-toggle="modal" href="#exampleModal" onclick="buscarInmueblesDisponibles()">
            Buscar
        </a>
    </div>
</div>
<table class="table" id="mi-tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inmueble.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuotas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @(item.inquilino.Nombre + " " + item.inquilino.Apellido)
                </td>
                <td>
                    @(item.inmueble.Direccion)
                </td>
                <td>
                    @(item.Cuotas)
                </td>
                <td>
                    @(item.garante.Nombre + " " + item.garante.Apellido)
                </td>
                @{ if (item.Estado == false)
                    {
                        <td>
                            Contrato Cancelado
                        </td>
                    }
                    else
                    {
                        <td>
                            Contrato Vigente
                        </td>
                    }
                }
                <td>
                    @(item.FechaDesde.ToString("d"))
                </td>
                <td>
                    @(item.FechaHasta.ToString("d"))
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-controller="Contrato" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" title="Detalles"><i class="fas fa-info"></i></a>
                        @{ if (item.Estado != false)
                            {
                                <a asp-controller="Contrato" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" title="Editar"><i class="fas fa-user-edit"></i></a>
                                <a asp-controller="Contrato" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="Eliminar"><i class="fas fa-user-minus"></i></a>
                                <a asp-controller="Pago" asp-action="Index" asp-route-id="@item.Id" class="btn btn-success" title="Pagos"><i class="fas fa-hand-holding-usd"></i></a>
                            }
                        }

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

